<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.member.dao.impl.MemberDaoImpl">
    
    <insert id="insertNewMember"
            parameterType="com.ktdsuniversity.edu.member.vo.RequestRegistMemberVO">
        INSERT INTO "MEMBER" 
         (EMAIL
        , NAME
        , PASSWORD
        , SALT
        , LOGIN_FAIL_CNT
        , BLOCK_YN
        , LATEST_LOGIN_BLOCK_DATE
        , LATEST_LOGIN_FAIL_DATE
        , LATEST_LOGIN_SUCCESS_DATE
        , DEL_YN) 
        VALUES
         (#{email}
        , #{name}
        , #{password}
        , #{salt}
        , 0
        , 'N'
        , NULL
        , NULL
        , NULL
        , 'N')
    </insert>
    
    <select id="selectMemberCountByEmail"
            parameterType="string"
            resultType="_int">
        SELECT COUNT(EMAIL)
          FROM "MEMBER"
         WHERE EMAIL = #{_parameter} 
    </select>
    
    <select id="selectMemberByEmail"
            parameterType="string"
            resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
        SELECT EMAIL
             , NAME
             , PASSWORD
             , SALT
             , LOGIN_FAIL_CNT
             , BLOCK_YN
             , LATEST_LOGIN_BLOCK_DATE
             , LATEST_LOGIN_FAIL_DATE
             , LATEST_LOGIN_SUCCESS_DATE
             , DEL_YN 
          FROM "MEMBER"
         WHERE EMAIL = #{_parameter}
           AND DEL_YN = 'N'
    </select>
    
    <update id="updateLoginFailCountByEmail" 
            parameterType="string">
        UPDATE "MEMBER"
           SET LOGIN_FAIL_CNT = LOGIN_FAIL_CNT + 1
             , LATEST_LOGIN_FAIL_DATE = SYSDATE
         WHERE EMAIL = #{_parameter}
           AND DEL_YN = 'N'
    </update>

    <update id="updateBlockByEmail" 
            parameterType="string">
        UPDATE "MEMBER"
           SET BLOCK_YN = 'Y'
             , LATEST_LOGIN_BLOCK_DATE = SYSDATE
         WHERE EMAIL = #{_parameter}
           AND LOGIN_FAIL_CNT >= 5
           AND DEL_YN = 'N'
    </update>

    <update id="updateLoginSuccessByEmail" 
            parameterType="string">
        UPDATE "MEMBER"
           SET BLOCK_YN = 'N'
             , LOGIN_FAIL_CNT = 0
             , LATEST_LOGIN_SUCCESS_DATE = SYSDATE
         WHERE EMAIL = #{_parameter}
           AND DEL_YN = 'N'
    </update>
    
    <select id="selectUnblockMemberByEmail"
            parameterType="string"
            resultType="_int">
        SELECT COUNT(EMAIL)
          FROM "MEMBER"
         WHERE EMAIL = #{_parameter}
           AND BLOCK_YN = 'Y'
           AND LATEST_LOGIN_BLOCK_DATE <![CDATA[<=]]> SYSDATE - 1 / 24
           AND DEL_YN = 'N'
    </select>
    
    <update id="updateDelYnByEmail"
            parameterType="string">
        UPDATE "MEMBER"
           SET DEL_YN = 'Y'
         WHERE EMAIL = #{_parameter}
           AND DEL_YN = 'N'
    </update>
    <select id="selectRolesByEmail" 
    parameterType="string" 
    resultType="string">
	    SELECT ROLE_NAME
	      FROM "ROLE"
	     START WITH ROLE_ID = (SELECT ROLE_ID
	                             FROM MEMBER 
	                            WHERE EMAIL = #{email})
	   CONNECT BY PRIOR ROLE_ID = TOP_ROLE
    </select>
    
</mapper>