@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
	margin: 0;
	color: #333;
	font-family: "Noto Sans KR", sans-serif;
}

a {
	color: #555;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.2s;
	
	&:hover {
	   color: #777;
	}
	
	&.modify-link {
	   color: #4949ff;
	   &:hover {
	       color: #fff;
	       background-color: #4949ff;
	   }
	}
	
	&.delete-link {
       color: #ff4949;
       &:hover {
           color: #fff;
           background-color: #ff4949;
       }
    }
    
    &.list-link {
       color: #49aa49;
       &:hover {
           color: #fff;
           background-color: #49aa49;
       }
    }
}

div.wrapper {
	width: 80vw;
	margin: 0 auto;
	
	& > .page-title {
	   font-size: 1.5rem;
	   margin: 20px 0;
	}
}

div.board-write {
	grid-template-columns: 80px 1fr;
	grid-template-rows: 28px 28px 320px 1fr;
	
	& > textarea {
        height: 300px;
    }
}


div.board-view {
	grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(5, 28px) minmax(320px, auto) 1fr;
}

div.grid {
	display: grid;
	row-gap: 10px;
	
	& > label.require{
	   vertical-align: middle;
	   
	   &:before {
		   content: "*";
		   color: #F00;
		   margin-right: 5px;
		   vertical-align: middle;
		}
    }
	
	& > button, input, textarea {
	   padding: 10px;
	   outline: 0;
	}
	
	& > div.btn-group {
	   grid-column: 1 / -1;
	   display: flex;
	   
	   & > div.right-align {
	       width: 100%;
	       display: flex;
	       justify-content: flex-end;
	   }
	   
	   & button {
	       padding: 5px 10px;
	       color: #333;
	       border: 0;
	       border-radius: 5px;
	       background-color: transparent;
	       transition: all 0.2s;
	   }
	   
	   & button.save-btn {
	       color: #4949ff;
	       
	       &:hover {
	           color: #FFF;
	           background-color: #4949ff;
	       }
	   }
	   
	   & button.cancel-btn {
	       color: #ff4949;
	       
	       &:hover {
               color: #FFF;
               background-color: #ff4949;
           }
       }
	}
	
}