@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
	margin: 0;
	color: #333;
	font-family: "Noto Sans KR", sans-serif;
}

.validate-error {
	font-size: 0.85rem;
	color: #f00;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
}

table.grid {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	
	& > thead {
	   background-color: #ddd;
	   border-bottom: 1px solid #ccc;
	   
	   & > tr > th {
	       padding: 4px 0;
	       border-right: 1px solid #ccc;
	       
	       &:last-child {
	           border-right: 0;
	       }
	   }
	}
	
	& > tbody {
	   & > tr {
	       border-bottom: 1px solid #ccc;
	       
	       &:last-child {
	           border-bottom: 0;
	       }
	       
	       &:hover {
	           background-color: #eee;
	       }
	       
	       & > td {
	           border-right: 1px solid #ccc;
	           padding: 4px 0 4px 8px;
	           
	           &.no-data {
	               height: 350px;
	               background-color: #eee;
	               /* background-image: url('https://cdn.dribbble.com/userupload/2905353/file/original-2022966da1fc3718d3feddfdc471ae47.png?format=webp&resize=400x300&vertical=center');
	               background-position: center;
	               background-repeat: no-repeat; */
	               text-align: center;
	           }
	           
	           &:last-child {
	               border-right: 0;
	           }
	       }
	   }
	}
}

a {
	color: #555;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.2s;
	
	&:hover {
	   color: #777;
	}
	
	&.modify-link {
	   color: #4949ff;
	   &:hover {
	       color: #fff;
	       background-color: #4949ff;
	   }
	}
	
	&.delete-link {
       color: #ff4949;
       &:hover {
           color: #fff;
           background-color: #ff4949;
       }
    }
    
    &.list-link {
       color: #49aa49;
       &:hover {
           color: #fff;
           background-color: #49aa49;
       }
    }
}

div.wrapper {
	width: 80vw;
	margin: 0 auto;
	
	& > .page-title {
	   font-size: 1.5rem;
	   margin: 20px 0;
	}
}

div.btn-group {
	& > .right-align {
	   text-align: right;
	}
}

button {
	padding: 5px 10px;
    color: #333;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s;
}

button.save-btn {
    color: #4949ff;
    
    &:hover {
        color: #FFF;
        background-color: #4949ff;
    }
}
       
button.cancel-btn {
    color: #ff4949;
    
    &:hover {
        color: #FFF;
        background-color: #ff4949;
    }
}

div.board-write {
	grid-template-columns: 80px 1fr;
	grid-template-rows: repeat(3, auto) 320px 1fr;
	
	& textarea {
        height: 300px;
    }
}


div.board-view {
	grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(2, 28px) auto repeat(3, 28px) minmax(320px, auto) 1fr;
}

div.grid {
	display: grid;
	row-gap: 10px;
	
	& label.require{
	   vertical-align: middle;
	   
	   &:before {
		   content: "*";
		   color: #F00;
		   margin-right: 5px;
		   vertical-align: middle;
		}
    }
	
	& input,
	& textarea {
	   width: 100%;
	}
	
	& button, 
	& input, 
	& textarea {
	   padding: 10px;
	   outline: 0;
	   box-sizing: border-box;
	}
	
	& > div.btn-group {
	   grid-column: 1 / -1;
	   display: flex;
	   
	   & > div.right-align {
	       width: 100%;
	       display: flex;
	       justify-content: flex-end;
	   }
	}
}