<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ktdsuniversity.edu.board.dao.impl.BoardDaoImpl">

	<select id="selectBoardCount" 
	        resultType="_int"
	        parameterType="com.ktdsuniversity.edu.board.vo.RequestSearchBoardVO">
	   SELECT COUNT(B.ID)
         FROM BOARD B
        INNER JOIN "MEMBER" M
           ON B.EMAIL = M.EMAIL 
        WHERE B.DEL_YN = 'N'
          AND M.DEL_YN = 'N'
          AND B.CRT_DT BETWEEN TO_DATE(#{from}, 'YYYY-MM-DD') AND TO_DATE(#{to}, 'YYYY-MM-DD') + 1
          <if test='searchKeyword != null and searchKeyword != ""'>
	          <!-- searchType => 작성자명 검색 -->
	          <if test='searchType == "name"'>
          AND M.NAME LIKE '%' || #{searchKeyword} || '%'
	          </if>
	          <!-- searchType => 제목+내용 -->
	          <if test='searchType == "subject_content"'>
          AND (B.SUBJECT LIKE '%' || #{searchKeyword} || '%'
           OR B.CONTENT LIKE '%' || #{searchKeyword} || '%')
	          </if>
	          <!-- searchType => 제목 검색 -->
	          <if test='searchType == "subject"'>
          AND B.SUBJECT LIKE '%' || #{searchKeyword} || '%'
	          </if>
	          <!-- searchType => 내용 검색 -->
	          <if test='searchType == "content"'>
          AND B.CONTENT LIKE '%' || #{searchKeyword} || '%'
              </if>
          </if>
	</select>

	<select id="selectBoardList"
		resultMap="BoardVOMap"
		parameterType="com.ktdsuniversity.edu.board.vo.RequestSearchBoardVO">
	   <include refid="Common.paginationHeader" />
	   SELECT ROW_NUMBER() OVER(ORDER BY B.ID) "NUMBER"
		    , B.ID
		    , B.SUBJECT
		    , B.CONTENT
		    , B.EMAIL
		    , B.VIEW_CNT
		    , TO_CHAR(B.CRT_DT, 'YYYY-MM-DD') AS CRT_DT
		    , TO_CHAR(B.MDFY_DT, 'YYYY-MM-DD') AS MDFY_DT
		    , B.DEL_YN
		    , M.NAME 
		 FROM BOARD B
		INNER JOIN "MEMBER" M
		   ON B.EMAIL = M.EMAIL 
		WHERE B.DEL_YN = 'N'
		  AND M.DEL_YN = 'N'
		  AND B.CRT_DT BETWEEN TO_DATE(#{from}, 'YYYY-MM-DD') AND TO_DATE(#{to}, 'YYYY-MM-DD') + 1
	      <if test='searchKeyword != null and searchKeyword != ""'>
              <!-- searchType => 작성자명 검색 -->
              <if test='searchType == "name"'>
          AND M.NAME LIKE '%' || #{searchKeyword} || '%'
              </if>
              <!-- searchType => 제목+내용 -->
              <if test='searchType == "subject_content"'>
          AND (B.SUBJECT LIKE '%' || #{searchKeyword} || '%'
           OR B.CONTENT LIKE '%' || #{searchKeyword} || '%')
              </if>
              <!-- searchType => 제목 검색 -->
              <if test='searchType == "subject"'>
          AND B.SUBJECT LIKE '%' || #{searchKeyword} || '%'
              </if>
              <!-- searchType => 내용 검색 -->
              <if test='searchType == "content"'>
          AND B.CONTENT LIKE '%' || #{searchKeyword} || '%'
              </if>
          </if>
		ORDER BY "NUMBER" DESC
	   <include refid="Common.paginationFooter" />
	</select>
	
	<insert id="insertNewBoard"
	        parameterType="com.ktdsuniversity.edu.board.vo.RequestCreateBoardVO">
	    <selectKey keyProperty="id" order="BEFORE" resultType="string">
	       SELECT 'AR-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_BOARD_PK.NEXTVAL, 6, '0')
	         FROM DUAL
	    </selectKey>
        INSERT INTO BOARD 
		 (ID
		, SUBJECT
		, CONTENT
		, EMAIL
		, VIEW_CNT
		, CRT_DT
		, MDFY_DT
		, DEL_YN
		, FILE_GROUP_ID) 
		VALUES
		 (#{id}
		, #{subject}
		, #{content}
		, #{email}
		, 0
		, SYSDATE
		, SYSDATE
		, 'N'
		, #{fileGroupId})
	</insert>
	
	<update id="updateViewCntById" 
	        parameterType="string">
	    UPDATE BOARD
	       SET VIEW_CNT = VIEW_CNT + 1
	     WHERE ID = #{_parameter}
	       AND DEL_YN = 'N'
	</update>
	
	
	<!-- Join된 쿼리의 결과를 단일 인스턴스로 받을 수 있도록 해준다. -->
	<resultMap type="com.ktdsuniversity.edu.board.vo.BoardVO" 
	           id="BoardVOMap"
	           autoMapping="true">
        <id column="ID" property="id" />
        <association property="memberVO"
                     javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
                     autoMapping="true">
            <id column="EMAIL" property="email" />
        </association>
        <association property="fileGroupVO"
                     javaType="com.ktdsuniversity.edu.file.vo.FileGroupVO"
                     autoMapping="true">
            <id column="FILE_GROUP_ID" property="fileGroupId" />
            <collection property="file"
                        javaType="list" 
                        ofType="com.ktdsuniversity.edu.file.vo.FileVO"
                        autoMapping="true">
                <id column="FILE_ID" property="fileId" />
            </collection>
        </association>
	</resultMap>
	
	<select id="selectBoardById"
	        parameterType="string"
	        resultMap="BoardVOMap">
	   SELECT B.ID
		    , B.SUBJECT
		    , B.CONTENT
		    , B.EMAIL
		    , B.VIEW_CNT
		    , B.CRT_DT
		    , B.MDFY_DT
		    , B.DEL_YN
		    , F.FILE_GROUP_ID 
		    , F.FILE_COUNT 
		    , F.FILE_ID 
		    , F.FILE_DISPLAY_NAME 
		    , F.FILE_SIZE 
		    , F.FILE_TYPE 
		    , M.NAME
		 FROM BOARD B
		INNER JOIN "MEMBER" M
		   ON B.EMAIL = M.EMAIL
		  AND M.DEL_YN = 'N'
		 LEFT OUTER JOIN (SELECT FG.FILE_GROUP_ID 
		                       , FG.FILE_COUNT 
		                       , F.FILE_ID 
		                       , F.FILE_DISPLAY_NAME 
		                       , F.FILE_SIZE 
		                       , F.FILE_TYPE 
		                    FROM FILE_GROUP FG
		                   INNER JOIN "FILE" F
		                      ON FG.FILE_GROUP_ID = F.FILE_GROUP_ID) F
		   ON B.FILE_GROUP_ID = F.FILE_GROUP_ID 
		WHERE B.ID = #{_parameter}
		  AND B.DEL_YN = 'N'
	</select>
	
	<update id="updateBoardModifyById"
	        parameterType="com.ktdsuniversity.edu.board.vo.RequestModifyBoardVO">
        UPDATE BOARD
		   SET SUBJECT = #{subject}
		     , CONTENT = #{content}
		 WHERE ID = #{id}
		   AND DEL_YN = 'N'
	</update>
	
	<update id="deleteBoardById"
	        parameterType="string">
	    UPDATE BOARD
		   SET DEL_YN = 'Y'
		 WHERE ID = #{_parameter}
		   AND DEL_YN = 'N'
    </update>
	
	<select id="selectBoardListForExcel"
            resultMap="BoardVOMap">
       SELECT ROW_NUMBER() OVER(ORDER BY B.ID) "NUMBER"
            , B.ID
            , B.SUBJECT
            , B.CONTENT
            , B.EMAIL
            , B.VIEW_CNT
            , B.CRT_DT
            , B.MDFY_DT
            , B.DEL_YN
            , F.FILE_GROUP_ID 
            , F.FILE_COUNT 
            , F.FILE_ID 
            , F.FILE_DISPLAY_NAME 
            , F.FILE_SIZE 
            , F.FILE_TYPE 
            , M.NAME
         FROM BOARD B
        INNER JOIN "MEMBER" M
           ON B.EMAIL = M.EMAIL
          AND M.DEL_YN = 'N'
         LEFT OUTER JOIN (SELECT FG.FILE_GROUP_ID 
                               , FG.FILE_COUNT 
                               , F.FILE_ID 
                               , F.FILE_DISPLAY_NAME 
                               , F.FILE_SIZE 
                               , F.FILE_TYPE 
                            FROM FILE_GROUP FG
                           INNER JOIN "FILE" F
                              ON FG.FILE_GROUP_ID = F.FILE_GROUP_ID) F
           ON B.FILE_GROUP_ID = F.FILE_GROUP_ID 
        WHERE B.DEL_YN = 'N'
        ORDER BY "NUMBER" DESC
    </select>
	
	
</mapper>