<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.file.dao.impl.FileDaoImpl">
    
    <insert id="insertFile"
            parameterType="com.ktdsuniversity.edu.file.vo.FileVO">
        <selectKey keyProperty="fileId"
                   resultType="string"
                   order="BEFORE">
            SELECT 'FL-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_FILE_PK.NEXTVAL, 6, '0')
              FROM DUAL
        </selectKey>
        INSERT INTO "FILE" 
		 (FILE_ID
		, FILE_GROUP_ID
		, FILE_SIZE
		, FILE_DISPLAY_NAME
		, FILE_NAME
		, FILE_PATH
		, FILE_DOWNLOAD_COUNT
		, FILE_TYPE) 
		VALUES
		 (#{fileId}
		, #{fileGroupId}
		, #{fileSize}
		, #{fileDisplayName}
		, #{fileName}
		, #{filePath}
		, 0 
		, #{fileType})
    </insert>
    
</mapper>