<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.file.dao.impl.FileGroupDaoImpl">
    
    <insert id="insertFileGroup"
            parameterType="com.ktdsuniversity.edu.file.vo.FileGroupVO">
        <selectKey keyProperty="fileGroupId" 
                   resultType="string" 
                   order="BEFORE">
            SELECT 'FG-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_FILE_GROUP_PK.NEXTVAL, 6, '0')
              FROM DUAL
        </selectKey>
        INSERT INTO FILE_GROUP 
		 (FILE_GROUP_ID
		, FILE_COUNT) 
		VALUES
		 (#{fileGroupId}
		, #{fileCount})
    </insert>
    
    <delete id="deleteGroup"
            parameterType="string">
        DELETE
          FROM FILE_GROUP
         WHERE FILE_GROUP_ID = (SELECT FILE_GROUP_ID
                                  FROM "FILE"
                                 WHERE FILE_ID = #{_parameter})
    </delete>
    
</mapper>